#left
{
    width: 200px;
    float: left;
    margin-right: 10px;
}
#center
{
    width: 670px;
    float: left;
    margin-left:10px;
    margin-right: 10px;
}
#right
{
    margin-left:10px;
    float: left;
    width: 250px;
}
#center2
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.type
{
    font-family: 微軟正黑體;
    color: #FF5050;
}
.title a
{
    text-decoration: none;
    font-family: 微軟正黑體;
    color: #666666;
}
.title
{
    width: 350px;
}
.date
{
    color: #666666;
    text-align:right;
    font-family: 微軟正黑體;
}
.type
{
    padding-right: 10px;
    padding-left: 10px;
}
.title a:hover
{
    color: #CC9900;
}

.datalist
{
    font-family: 微軟正黑體;
    color: #666666;
    text-align: center;
}
.datalist a
{
    text-decoration: none;
    color: #666666;
}
.datalist a:hover
{
    color: #CC9900;
}
#center3title,#center4title
{
    font-family: 微軟正黑體;
    color: #6666FF;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #6666FF;
    line-height: 25px;
}
.grid1
{
    width: 670px;
}
    .datalist
        {
            font-size: 12px;
        }
        td.datalist_td
        {
            padding:10px 0px;
        }
        .title
        {

            text-align: left;
        }
.left1title
{
    font-family: 微軟正黑體;
    margin-bottom: 5px;
    background-color: #5C63B4;
    color: #EFEFEF;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #666666;
    font-weight: 900;
    text-indent: 10px;
}

.left2title
{
     font-family: 微軟正黑體;
    width:210px;
     background-color: #5C63B4;
    color: #EFEFEF;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    font-weight: 900;
    text-indent: 10px;
    text-align:left;
}
.menu
{
    font-family: 微軟正黑體;
}
.mainnav
{
    color: #666666;
    text-indent: 15px;
    
}
.menu
{
    width: 195px;
    text-align: left;
}
.mainnav
{
    width: 195px;
    line-height: 30px;
}
#left1,.menu
{
    margin:auto 0px;
}
#left1,#left2
{
    margin-bottom: 10px;
}
.mainnav a:hover
{
    color: #FFFFFF;
    display: block;
    background-color: #6880DD;
    font-family: 微軟正黑體;
    font-weight: 900;
    width: 195px;
    height: 30px;
}
.menu a
{
    display: block;
    width: 195px;
    height: 30px;
}

.subnav
{
    font-family: 微軟正黑體;
    color: #666666;
    text-indent: 30px;
}
.subnav a:hover
{
    background-color: #97BBDF;
    color: #FFFFFF;

    font-family: 微軟正黑體;
    font-weight: 900;
    width: 195px;
    height: 30px;
}
.subnav a
{
    display: block;
    width: 195px;
    height: 30px;
   
}
.subnav
{
    line-height: 30px;
}
#right1
{
     padding-bottom: 10px;
    margin:0px auto;
    width:210px;
    margin-bottom: 10px;
}
#rith2
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ajax__product .ajax__tab_inner
{
	width:80px;
	height:30px;
	margin-right:2px;
	 font-family: 微軟正黑體;
            color: #FFFFFF;
            line-height: 30px;
            text-align: center;
            background-color: #78A3F1;
}
.ajax__product .ajax__tab_body
{
	padding:20px 30px 10px 30px;
	border-style: solid;
	border-color: #6383BA;
}
.ajax__product .ajax__tab_active .ajax__tab_inner
{
		background-color:  #6383BA;
		font-weight: 900;
	    color: #FFFFFF;
}
.ajax__product .ajax__tab_hover .ajax__tab_inner
{
		background-color: #A673EC;
		font-weight: 900;
		font-size:18px;
	    color: #FFFFFF;
}
#center1
{
    margin-bottom: 20px;
}

.hyper2
{
    font-size:16px;
    font-family: 微軟正黑體;
    color: #6383BA;
    line-height:30px;
    
}
.hyper2:hover
{

    color: #6600CC;
}

.hyperl
{
    float: none;
    text-align: left;
    text-decoration: none;
}
.fromveiw
{
    text-align: center;
    width: 200px;
}

#right3
{

    margin:0px auto;
    text-align:center;
}


#right3
{
    width:210px;
    padding-bottom: 10px;
}
.num
{
   
    font-weight: 900;
    height: 45px;
    padding-right: 7px;
    padding-left: 7px;
}
.Hyper13
{
    font-family: "times New Roman", Times, serif;
    text-decoration: none;
    color: #666666;
}
.hyper13:hover
{
	color: #CC9900;
	
}
.Hyper15:hover,.Hyper13:hover
{
	color: #CC9900;
	
}
.Hyper15
{
    font-family: 微軟正黑體;
    text-decoration: none;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}
.left2title
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;
}

        .style1
        {
            width: 100%;
        }


        .image10
        {
            margin-right: 10px;
            
        }

        .image10
        {
            float: left;
        }
        .hyperl
{
	text-align: left;
}

.hyperl
{
	text-decoration: none;
}
.hyperl
{
	text-align: left;
	color: #666666;
	font-family: 微軟正黑體;
	font-size: 14px;
}
.hyperl
{
	float: none;
}
.num
{
    height: 40px;
}


.num
{
    color: #3366FF;
}

.num
{
    height: 10px;
}
.num
{
    text-align: center;
}
.top1
{
    color: #CC9900;
    
}
.top1
{
    padding-top: 5px;
    font-family: 微軟正黑體;
    font-weight: bold;
    font-size: 20px;
    color: #CC6600;
}

.num1
{
    height: 220px;
}
.num1
{
    height: 150px;
}

.hyper14
{
    font-family: 微軟正黑體;
    color: #FF5050;
    text-decoration: none;
    font-size: 18px;
}
.lab3
{
    font-family: 微軟正黑體;
    color: #666666;
    font-size: 16px;
    text-decoration: none;
}

.num2
{
    width: 140px;
}



.G5
{
    height: 40px;
}
.G5
{
    font-family: 微軟正黑體;
    color: #333333;
    text-align: left;
    text-decoration: none;
}
.Hyper15
{
    font-family: 微軟正黑體;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.lab2
{
    font-family: "Times New Roman", Times, serif;
    color: #666666;
}
.Hyper13
{
    font-family: "times New Roman", Times, serif;
    text-decoration: none;
    color: #666666;
}

#right1
{
    border: 3px solid #6384C6;
}
.numr
{
    padding: 10px 5px 10px 5px;
}
.numleft,.numleft1 
{
    color: #666666;
    text-align: left;
    font-family: 微軟正黑體;
}
.numleft1 
{
    font-family:Times New Roman;
    font-size:12px;
    
}

.numleft a,.numleft1 a
{
    text-decoration: none;
    color: #666666;
}
.numleft .h12:hover,.numleft1 a:hover
{
    color: #FFFFFF;
    background-color: #678DB8;
    width:100%;
    text-decoration: none;
    display: block;
}

.numleft
{
    text-align: left;
  
}

div#ad
{
    margin-bottom: 10px;
    width:100%;
    
    overflow:hidden;
    border-radius: 3px;

}
div#ad ul
{
    margin:0px;
    padding:0px;
    list-style: none;
    

}
div#ad ul li
{
     
    
    float: left;
    width: 14.3%;
    height:65px;
    margin:0px 0px 2px 2px;
    border:1px solid black;
    border-radius:2px;
    overflow:hidden;
    
    
    text-decoration:none;
}
div#ad #imgtitle
{
    
    width: 70%;
    float: left;
    height: 200px;
    margin-right:1px;
    border: 1px solid black;
    overflow:hidden;
    border-radius: 3px;

}


div#ad ul li img
{
    padding:0px;
    margin:0px;
    
    
}

div#imgtitle h3
{
    font-size:18px;
    position: absolute;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    width: 67.3%;
    height: 30px;
    font-family: 微軟正黑體,Times New Roman;

    line-height: 30px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 900;
    z-index:1000;
    margin-top:168px;
}
#divtab
{
    margin: 0px 0px 10px 0px;
    
}
#divtab ul.tab
{
    height: 30px;
    
    margin: 0px;
    padding:0px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #6383BA;
     border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6383BA;

 


}
#divtab ul.tab li
{
    font-family: 微軟正黑體;
    float: left;
    padding: 0px;
    margin: 0px;
    height: 29px;
    line-height: 30px;

    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-color: #6383BA;
    border-right-color: #6383BA;
    list-style-type: none;
    background-color:#6383BA;
    color:#FFF;
    width: 100px;


}

#divtab #container
{
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    
    border-color: #6383BA;
    padding:10px 10px 10px 10px;
    margin: 0px;
    width: 648px;


}
#divtab ul.tab li.active 
{
    height:30px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;

    background-color:#FFF;

    color:#6666FF;
    font-weight:900;
}




#right4
{
    width:100%;
    margin:0px auto;

    
}
.mytab
{
    width:100%;
}
.hit .panel-body
{
    padding:0px;
}
#right4 ul.tab
{
    height: 30px;
    
    margin: 0px;
    padding:0px;
    
    width: 100%x;

 


}
#right4 ul.tab li
{
    font-family: 微軟正黑體;
    float: left;
    padding: 0px;
    margin: 0px;
    height: 29px;
    line-height: 30px;
    width: 33.3%;
    text-align: center;
  
    
    list-style-type: none;
    background-color:#6383BA;
    color:#FFF;



}

#right4 #container1
{
    
    padding:1px 1px 1px 1px;
    margin: 0px;
 


}
#right4 ul.tab li.active 
{
    height:30px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;

    background-color:#FFF;

    color:#6666FF;
    font-weight:900;
}

#right3
{
    padding-bottom: 0px;
}


div#left .title
        {
            font-family: 微軟正黑體;
            width: 200px;
            font-size: 18px;
            line-height: 30px;
            background-color: #5C63B4;
            color: #FFFFFF;
            font-weight: 900;
            text-indent: 15px;
        }
#navg #list1,#navg #list2,#navg #list3,#navg #list4,#navg #list5,#navg #list6,#navg #P1,#navg #P2,#navg #P3,#navg #P4,#navg #P5,#navg #P6,#navg #P7,#navg #P8,#navg #P9,#navg #P10
{
    font-family: 微軟正黑體;
    font-size: 18px;
    line-height: 30px;
    text-indent: 15px;
    padding: 0px;
    border-bottom-style:dashed;
    border-bottom-width: 1px;
    border-bottom-color: #5C63B4;
   margin-top: 0px;
    margin-bottom: 0px;
    
}

#left #navg ul
{
    padding: 0px;
    margin: 0px;
}
#left .style1,#left .style2,#left .style3,#left .style4,#left .style5,#left .style6,#left .style7,#left .style8
{
    font-family: 微軟正黑體;
    color: #6666FF;
    line-height: 25px;
    text-indent: 40px;
    padding: 0px;
    margin: 0px 0px 5px 0px;
display:none;
    
    
}
#left ul
{
    

    list-style-type: none;
    
    
}

#left .style1 a,#left .style2 a,#left .style3 a,#left .style4 a,#left .style5 a,#left .style6 a,#left .style7 a,#left .style8 a
{
    text-decoration: none;
    color: #666666;
    
}

#navg #list1:hover,#navg #list2:hover,#navg #list3:hover,#navg #list4:hover,#navg #list5:hover,#navg #list6:hover,#navg #P1:hover,#navg #P2:hover,#navg #P3:hover,#navg #P4:hover,#navg #P5:hover,#navg #P6:hover,#navg #P7:hover,#navg #P8:hover,#navg #P9:hover,#navg #P10:hover
{
    
            background-color: #6880DD;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 900;
            display: block;
    
}

.list-group-item
    {
        height:40px;
        line-height:20px;
    }
    #tabs
    {
        margin:0px 0px 20px 0px;
        border-color:#3174AE;
    }
    #tabs ul
    {
        border-color:#3174AE;
        background-color:#3174AE;
    }
    

    .style2
    {
        height: 152px;
    }
    .image10 
    {
        margin-bottom:0px;
    }
    .thumbnail
    {
        margin-bottom:0px;
    }

